html(lang='en')
    head
        title Reference notification

    body
        main
            p Hi

            div We've got a request because #{user} referred to you.
            div Check his comment in "#{board}" board, card is "#{card}".

        div  Comment test: #{text}

        div With best wishes,
        div TrelloKiller Team
